<div class="eoldialogs_block">
    <div class="{{ xblock.side }} status {{ indicator_class }}" id="status_{{ location }}">
        <div class="personaje" style="background-image: url({{ xblock.image_url }});"></div>
        <div class="cola" style="background-color: {{ xblock.background_color }};"></div>
        <div class="dialogo" style="background-color: {{ xblock.background_color }}; color: {{ xblock.text_color }};">
            {{xblock.content | safe }}
        </div>
        <div class="the_answer">
        </div>
        <div style="clear:both;"></div>
        <div class="responder">
            <span class="buttonsubmit">
            {% if xblock.answers|length > 0 %}
                {% if xblock.attempts >= xblock.max_attempts %}
                    <button class="check Submit submit" data-checking="Enviando..." data-value="Enviar" aria-describedby="submission_feedback_{{ location }}" disabled="disabled">
                {% else %}
                    <button class="check Submit submit" data-checking="Enviando..." data-value="Enviar" aria-describedby="submission_feedback_{{ location }}">
                {% endif %}
                    <span>Enviar</span>
                </button>
            {% endif %}
            </span>
            <span id="submission_feedback_{{ location }}" class="submission-feedback">
            {% if xblock.attempts > 0 %}
                {% if xblock.max_attempts > 1 %}
                    Has realizado {{xblock.attempts}} de {{xblock.max_attempts}} intentos.
                {% else %}
                    Has realizado {{xblock.attempts}} de {{xblock.max_attempts}} intento.
                {% endif %}
            {% endif %}
            </span>
            <span class="notificacion">
                {% if xblock.attempts >= 1 %}
                    {% if xblock.score >= 1 %}
                        <img src="{{ image_path }}correct-icon.png"/>
                    {% elif xblock.score <= 0 %}
                        <img src="{{ image_path }}incorrect-icon.png"/>
                    {% else %}
                        <img src="{{ image_path }}partial-icon.png"/>
                    {% endif %}
                {% endif %}
            </span>
            {% if xblock.show_answers %}
            <span class="button_show_answers">
                Mostrar Respuesta
            </span>
            {% endif %}
        </div>
    </div>
</div>
